<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Prodix - Inicio</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/prodixIcon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">

    <!-- Slick CSS -->
    <link rel="stylesheet" href="../assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="../assets/plugins/slick/slick-theme.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="../assets/plugins/aos/aos.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../assets/plugins/feather/feather.css">

    <script>
        window.onload = function () {

            const button = document.getElementById('buttonAppear');
            const saludo = document.getElementById('saludo');
            const type=document.getElementById('type');
            const empresas=document.getElementById('_empresas_');
            const estudiantes=document.getElementById('estudiantes');
            const creaCurriculum=document.getElementById('creaCurriculum');
            const creaPuestos=document.getElementById('creaPuestos');
            
            const nombre=document.getElementById('nombre');

            const username = '{{username}}';
            const utype = '{{type}}';

            if (username !== 'null' && username !== '') {
                saludo.style.display = 'block';
                type.style.display = 'block';
                type.innerText=utype;
                button.style.display = 'none';
                nombre.style.display='block';
                nombre.innerText = username;
                if (utype==='estudiante'){
                    estudiantes.style.display='none';
                    empresas.style.display='block';
                    creaCurriculum.style.display='block';
                    creaPuestos.style.display='none';
                }else{
                    estudiantes.style.display='block';
                    empresas.style.display='none';
                    creaCurriculum.style.display='none'; 
                    creaPuestos.style.display='block';
                }
            } else {
                saludo.style.display = 'none';
                button.style.display = 'block';
                type.style.display = 'block';
                nombre.style.display='none';
                estudiantes.style.display='block';
                empresas.style.display='block';
                creaCurriculum.style.display='none';
                creaPuestos.style.display='none';
            }
        }
    </script>
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        <header class="header">
            <div class="header-fixed">
                <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
                    <div class="container">
                        <div class="navbar-header">
                            <a id="mobile_btn" href="javascript:void(0);">
                                <span class="bar-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="/" class="navbar-brand logo">
                                <img src="../assets/img/prodixLogo.png" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <div class="main-menu-wrapper">
                            <div class="menu-header">
                                <a href="/" class="menu-logo">
                                    <img src="../assets/img/prodixLogo.png" class="img-fluid" alt="Logo">
                                </a>
                                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <ul class="main-nav">
                                <li class="has-submenu active">
                                    <a href="/{{id}}">Inicio</a>
                                </li>
                            
                                <li class="has-submenu">
                                    <a href="#" id="_empresas_">Empresa <i class="fas fa-chevron-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/course-grid/{{id}}">Buscar puestos de trabajo</a></li>
                                        <li><a href="/add-course-e/{{id}}" id="creaCurriculum">Crear curriculum</a></li>
                                
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#" id="estudiantes">Estudiantes <i class="fas fa-chevron-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/course-grid-e/{{id}}">Buscar estudiantes</a></li>
                                        
                                        <li><a href="/add-course/{{id}}" id="creaPuestos">Crear puestos de empleo</a></li>
                                       
                                    </ul>
                                </li>
                               
                             
                                <li class="has-submenu d-lg-none">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#authModal">Iniciar Sesión /
                                        Registro</a>
                                </li>
                                <li class="has-submenu">
                                <li> <a href="/faq/{{id}}">FAQ</a></li>
                                
                                </li>
                                <li class="has-submenu" id="saludo" >
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <span class="user-img">
                                            <img src="{{foto}}" alt="">
                                            <span class="status online"></span>
                                        </span>
                                    </a>
                                    <ul class="submenu first-submenu">
                                        <div  data-popper-placement="bottom-end">
                                            <div class="user-header">
                                                <div class="avatar avatar-sm">
                                                    <img src="{{foto}}" alt="User Image"
                                                        class="avatar-img rounded-circle">
                                                </div>
                                                <div class="user-text">
                                                    <h6 id="nombre"></h6>
                                                    <p class="text-muted mb-0" id="type"></p>
                                                </div>
                                            </div>
                                            <a class="dropdown-item" href="/user/{{id}}"><i
                                                    class="feather-user me-1"></i> Perfil</a>
    
                                            <a class="dropdown-item" href="/"><i class="feather-log-out me-1"></i> Cerrar
                                                Sesión</a>
                                            <a class="dropdown-item" href="/history/{{id}}"><i class="feather-book me-1"></i> Historial</a>
                                        </div>

                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <ul class="nav header-navbar-rht">
                            <!-- Botón para abrir el modal -->
                            

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#authModal" id="buttonAppear">
                                Iniciar Sesión / Registro
                            </button>
                        </ul>

                    </div>
                </nav>
            </div>
        </header>


        <!-- Modal de Autenticación -->
        <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 1200px;">
                <!-- Ancho más amplio -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="authModalLabel">Autenticación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- Inicio de Sesión -->
                            <div class="col-md-6 d-flex flex-column align-items-start mb-4">
                                <h2 class="text-center w-100">Iniciar Sesión</h2>
                                <form role="form" action="/post/user" method="post" class="w-100">
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Correo electrónico</label>
                                        <input type="email" class="form-control"
                                            placeholder="Introduce tu correo electrónico" id="email" name="email"
                                            required>
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Contraseña</label>
                                        <div class="pass-group">
                                            <input type="password" class="form-control pass-input"
                                                placeholder="Introduce tu contraseña" id="password" name="password"
                                                required>
                                            <span class="feather-eye toggle-password"></span>
                                        </div>
                                    
                                    </div>
                                
                                    <button class="btn btn-primary btn-start btn-sm" type="submit">Iniciar
                                        Sesión</button>
                                </form>
                            </div>

                            <!-- Divisor -->
                            <div class="col-12 d-md-none my-4 text-center">
                                <hr class="w-100">
                                <span class="text-muted">Ó</span>
                                <hr class="w-100">
                            </div>

                            <!-- Registro -->
                            <div class="col-md-6 d-flex flex-column align-items-start">
                                <h2 class="text-center w-100">Crear Cuenta</h2>
                                <form role="form" action="post/new" class="w-100" method="post">
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Nombre completo</label>
                                        <input type="text" class="form-control"
                                            placeholder="Introduce tu nombre completo" id="name" name="name" required
                                            minlength="3" maxlength="20">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Correo electrónico</label>
                                        <input type="email" class="form-control"
                                            placeholder="Introduce tu correo electrónico" id="email" name="email"
                                            required pattern=".*@gmail.com">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Contraseña</label>
                                        <div class="pass-group">
                                            <input type="password" class="form-control pass-input"
                                                placeholder="Introduce tu contraseña" id="password" name="password"
                                                required minlength="8" maxlength="20">
                                            <span class="feather-eye toggle-password"></span>
                                        </div>
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Foto de contacto</label>
                                        <input type="url" class="form-control"
                                            placeholder="Introduce tu foto de contacto" id="foto" name="foto" required
                                            pattern="https://.*">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Ubicación </label>
                                        <input type="text" class="form-control"
                                            placeholder="Introduce tu lugar de hospedaje " id="ubicación"
                                            name="ubicación" required minlength="3" maxlength="20">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Fecha de nacimiento</label>
                                        <input type="date" class="form-control"
                                            placeholder="Introduce tu fecha de nacimiento" id="nacimiento"
                                            name="nacimiento" required min="1920-01-01" max="2024-01-01">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Estudios</label>
                                        <input type="text" class="form-control"
                                            placeholder="Introduce tu historial de estudios" id="estudios"
                                            name="estudios" required minlength="2" maxlength="20">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Trabajos previos</label>
                                        <input type="text" class="form-control"
                                            placeholder="Introduce tu historial de trabajos" id="trabajos"
                                            name="trabajos" required minlength="2" maxlength="150">
                                    </div>
                                    <div class="input-block mb-4">
                                        <label class="form-control-label">Crear cuenta como:</label>
                                        <div class="d-flex">
                                            <div class="form-check me-3">
                                                <input class="form-check-input" type="radio" name="userType"
                                                    id="empresa" value="empresa" required>
                                                <label class="form-check-label" for="empresa">Empresa</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="userType"
                                                    id="estudiante" value="estudiante" required>
                                                <label class="form-check-label" for="estudiante">Estudiante</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" name="terms" id="terms"
                                            required>
                                        <label class="form-check-label" for="terms">Estoy de acuerdo con los <a
                                                href="term-condition.html">Términos de Servicio</a> y la <a
                                                href="privacy-policy.html">Política de Privacidad</a></label>
                                    </div>
                                    <button class="btn btn-primary btn-start btn-sm" type="submit" value="Save">Crear
                                        Cuenta</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Home Banner -->
        <section class="home-slide d-flex align-items-center">
            <div class="container">
                <div class="row ">
                    <div class="col-md-7">
                        <div class="home-slide-face aos" data-aos="fade-up">
                            <div class="home-slide-text ">
                                <h1>Servicios online y en persona atractivos y accesibles para todos</h1>
                                <p>Domina tu futuro contratando gente que tiene las habilidades que necesitas</p>
                            </div>
                            
                            <div class="trust-user">
                                <p>Con la confianza de más de 15K usuarios <br> en todo el mundo desde 2024</p>
                                <div class="trust-rating d-flex align-items-center">
                                    <div class="rate-head">
                                        <h2><span>1000</span>+</h2>
                                    </div>
                                    <div class="rating d-flex align-items-center">
                                        <h2 class="d-inline-block average-rating">4.4</h2>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div class="girl-slide-img aos" data-aos="fade-up">
                            <img src="../assets/img/object.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Home Banner -->
        <section class="section student-course">
            <div class="container">
                <div class="course-widget">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="course-full-width">
                                <div class="blur-border course-radius align-items-center aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="../assets/img/pencil-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>10K</h4>
                                            <p>Servicios ofertados</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex">
                            <div class="course-full-width">
                                <div class="blur-border course-radius aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="../assets/img/cources-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>200+</h4>
                                            <p>Personas certificadas </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex">
                            <div class="course-full-width">
                                <div class="blur-border course-radius aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="../assets/img/certificate-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>6K+</h4>
                                            <p>Servicios certificados</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex">
                            <div class="course-full-width">
                                <div class="blur-border course-radius aos" data-aos="fade-up">
                                    <div class="online-course d-flex align-items-center">
                                        <div class="course-img">
                                            <img src="../assets/img/gratuate-icon.svg" alt="">
                                        </div>
                                        <div class="course-inner-content">
                                            <h4>15K+</h4>
                                            <p>usuarios registrados </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home Banner -->

        <!-- Feature Course -->
        <section class="section new-course">
            <div class="container">
                <div class="section-header aos" data-aos="fade-up">
                    <div class="section-sub-head">
                        <span>TOP ANNOUNCEMENTS</span>
                        <h2>Empresas recomendadas</h2>
                    </div>
                   
                </div>
                <div class="section-text aos" data-aos="fade-up">
                    <p class="mb-0">Descubre las mejores ofertas de empresas para poder trabajar con ellos y ganar
                        experiencia</p>
                </div>
                <div class="course-feature">
                    <div class="row">
                        {{#posts}}
							<div class="col-lg-4 col-md-6 d-flex mb-4">
								<div class="card flex-fill d-flex flex-column">
									<div class="product-img">
										<a href="/course-detailsM/{{pid}}">
											<img class="card-img-top" alt="" src="{{image_url}}"
												style="height: 200px; object-fit: cover;">
										</a>
									</div>
									<div class="card-body d-flex flex-column justify-content-between">
										<h5 class="card-title"><a href="/course-detailsM/{{pid}}">{{job_title}}</a></h5>
										<div class="flex-grow-1 d-flex flex-column justify-content-end">
											<div class="course-info d-flex align-items-center mb-2">
												<div class="rating-img d-flex align-items-center mr-3">
													<img src="../assets/img/icon/people.svg">
													<p class="mb-0">{{company_name}}</p>
												</div>
												<div class="course-view d-flex align-items-center">
													<img src="../assets/img/icon/cart.svg" alt="">
													<p class="mb-0">{{salary}}€</p>
												</div>
											</div>
											
										</div>
										
											<a href="/course-detailsM/{{pid}}/{{id}}"
												class="btn btn-primary" style="margin-bottom: 10px;">Inscribirse</a>
										
										<button type="button" class="btn btn-secondary edit-button"
											data-is-true="{{isTrue}}" data-bs-toggle="modal"
											data-bs-target="#editProfileModal" style="display: none;">
											Editar Perfil
										</button>
										
										<!-- Modal para editar trabajo -->
										<div class="modal fade" id="editProfileModal" tabindex="-1"
											aria-labelledby="editProfileModal" aria-hidden="true">
											<div class="modal-dialog modal-lg modal-dialog-centered"
												style="max-width: 1200px;">
												<!-- Ancho más amplio -->
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="editProfileModal">Editar Trabajo
														</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<form role="form" action="/update-course/{{id}}" method="post"
															class="w-100">
															<!-- Información Básica del Trabajo -->
															<fieldset id="basicInfo">
																<div class="add-course-info">
																	<div class="add-course-inner-header">
																		<h4 class="section-title">Información Básica del
																			Trabajo</h4>
																	</div>
																	<input type="hidden" name="pid" value="{{pid}}">
																	<div class="add-course-form">
																		<div class="input-block mb-4">
																			<label class="form-control-label">Nombre de
																				la empresa</label>
																			<input name="company_name" type="text"
																				class="form-control"
																				placeholder="Nombre de la empresa"
																				required value="{{company_name}}">
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">Título del
																				Trabajo</label>
																			<input name="job_title" type="text"
																				class="form-control"
																				placeholder="Título del trabajo"
																				required value="{{job_title}}">
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">Subtítulo
																				del trabajo</label>
																			<input name="job_subtitle" type="text"
																				class="form-control"
																				placeholder="Subtítulo del trabajo"
																				required value="{{job_subtitle}}">
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">Salario
																				Estimado</label>
																			<input name="salary" type="number"
																				step="0.01" class="form-control"
																				placeholder="Salario estimado"
																				required value="{{salary}}">
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">Categoría
																				del Trabajo</label>
																			<select name="job_category"
																				class="form-control select" required>
																				<option value="" disabled selected >
																					Selecciona una categoría</option>
																				<option>Desarrollador de Software
																				</option>
																				<option>Diseñador UX/UI</option>
																				<option>Administrador de Base de Datos
																				</option>
																				<option>Analista de Datos</option>
																				<option>Marketing Digital</option>
																				<option>Gestor de Proyectos</option>
																				<option>Soporte Técnico</option>
																				<option>Consultor</option>
																			</select>
																		</div>
																		<div class="input-block mb-4">
																			<label
																				class="form-control-label">Descripción
																				del Trabajo</label>
																			<textarea name="job_description"
																				style="resize: none; width: 100%"
																				class="form-control"
																				rows="5">{{job_description}}</textarea>
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">URL de la
																				imagen del trabajo</label>
																			<input name="image_url" type="url"
																				class="form-control"
																				placeholder="URL de la imagen"
																				value="{{image_url}} " required pattern="https://.*" >
																		</div>
																	</div>
																</div>
															</fieldset>

															<!-- Detalles Adicionales del Trabajo -->
															<fieldset id="additionalDetails">
																<div class="add-course-info">
																	<div class="add-course-inner-header">
																		<h4 class="section-title">Detalles Adicionales
																			del Trabajo</h4>
																	</div>
																	<div class="add-course-form">
																		<div class="input-block mb-4">
																			<label class="form-control-label">Requisitos
																				del Trabajo</label>
																			<textarea name="job_requirements"
																				style="resize: none; width: 100%"
																				class="form-control"
																				rows="4">{{job_requirements}}</textarea>
																		</div>
																		<div class="input-block mb-4">
																			<label
																				class="form-control-label">Ubicación</label>
																			<input name="location" type="text"
																				class="form-control"
																				placeholder="Ubicación del trabajo"
																				value="{{location}}">
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">Duración
																				del Trabajo</label>
																			<input name="job_duration" type="text"
																				class="form-control"
																				placeholder="Ej. 6 meses, tiempo completo, remoto"
																				value="{{job_duration}}">
																		</div>
																		<div class="input-block mb-4">
																			<label class="form-control-label">Fecha de
																				Publicación</label>
																			<input name="posting_date" type="date"
																				class="form-control"
																				value="{{posting_date}}">
																		</div>
																	</div>
																</div>
															</fieldset>

															<!-- Botón de Guardar Cambios -->
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Cancelar</button>
																<button type="submit" class="btn btn-primary">Guardar
																	Cambios</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							{{/posts}}

							{{^posts}}
							<p>No hay posts creados.</p>
							{{/posts}}
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature Course -->

        <section class="section share-knowledge">
            <div class="container">
                <div class="section-header aos" data-aos="fade-up">
                    <div class="section-sub-head">
                        <span>Novedades</span>
                        <h2>Estudiantes en tendencia</h2>
                    </div>
                   
                </div>
                <div class="section-text aos" data-aos="fade-up">
                    <p class="mb-0">Explora nuestros estudiantes en tendencia, donde encontrarás a estudiantes con gran
                        soltura y fluidez en sus respectivos campos.</p>
                </div>
                <br>
                <br>
                <div class="row">
                    {{#posts_e}}
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="card flex-fill d-flex flex-column">
                            <div class="product-img">
                                <a href="/course-details-eM/{{pid}}/{{id}}">
                                    <img class="card-img-top" alt="" src="{{profile_picture_url}}"
                                        style="height: 200px; object-fit: cover;">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title"><a
                                        href="/course-details-eM/{{pid}}/{{id}}">{{full_name}}</a></h5>
                                <h6 class="card-title"><a
                                        href="/course-details-eM/{{pid}}/{{id}}">{{title}}</a></h5>
                                    <div class="flex-grow-1 d-flex flex-column justify-content-end">
                                        <div class="course-info d-flex align-items-center mb-2">
                                            <div class="course-view d-flex align-items-center">
                                                <img src="../assets/img/icon/cart.svg" alt="">
                                                <p class="mb-0">{{location}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                        <a href="/course-details-eM/{{pid}}/{{id}}"
                                            class="btn btn-primary" style="margin-bottom: 10px;">Contratar</a>

                                    
                                    <button type="button" class="btn btn-secondary edit-button"
                                        data-is-true="{{isTrue}}" data-bs-toggle="modal"
                                        data-bs-target="#editProfileModal" style="display: none;">
                                        Editar Perfil
                                    </button>

                                    <!-- Botón para abrir el Modal de Edición del Perfil -->


                                    <!-- Modal para Editar Perfil -->
                                    <div class="modal fade" id="editProfileModal" tabindex="-1"
                                        aria-labelledby="editProfileModal" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered"
                                            style="max-width: 1200px;">
                                            <!-- Ancho más amplio -->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editProfileModal">Editar Perfil
                                                    </h5>
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" action="/update-course-e/{{id}}"
                                                        method="post" class="w-100">
                                                        <!-- Información Básica -->
                                                        <fieldset id="basicInfo">
                                                            <div class="add-course-info">
                                                                <div class="add-course-inner-header">
                                                                    <h4 class="section-title">Información Básica
                                                                    </h4>
                                                                </div>
                                                                <input type="hidden" name="pid" value="{{pid}}">
                                                                <div class="add-course-form">
                                                                    <div class="input-block mb-4">
                                                                        <label class="form-control-label">Nombre
                                                                            Completo</label>
                                                                        <input name="full_name" type="text"
                                                                            class="form-control"
                                                                            placeholder="Nombre completo"
                                                                            required value="{{existing_full_name}}">
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label class="form-control-label">Correo
                                                                            Electrónico</label>
                                                                        <input name="email" type="email"
                                                                            class="form-control"
                                                                            placeholder="Correo electrónico"
                                                                            required pattern=".*@gmail.com"  value="{{existing_email}}">
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Teléfono</label>
                                                                        <input name="phone" type="text"
                                                                            class="form-control"
                                                                            placeholder="Teléfono"
                                                                            value="{{existing_phone}}" required>
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Ubicación</label>
                                                                        <input name="location" type="text"
                                                                            class="form-control"
                                                                            placeholder="Ubicación"
                                                                            value="{{existing_location}}" required>
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Título</label>
                                                                        <input name="title" type="text"
                                                                            class="form-control"
                                                                            placeholder="Título"
                                                                            value="{{existing_title}}" required>
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label class="form-control-label">Foto
                                                                            de Perfil (URL)</label>
                                                                        <input name="profile_picture_url"
                                                                            type="url" class="form-control"
                                                                            placeholder="URL de la foto de perfil"
                                                                            value="{{existing_profile_picture_url}}"  required pattern="https://.*">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        <!-- Detalles Adicionales -->
                                                        <fieldset id="additionalDetails">
                                                            <div class="add-course-info">
                                                                <div class="add-course-inner-header">
                                                                    <h4 class="section-title">Detalles
                                                                        Adicionales</h4>
                                                                </div>
                                                                <div class="add-course-form">
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Estudios</label>
                                                                        <textarea name="education"
                                                                            style="resize: none; width: 100%"
                                                                            class="form-control"
                                                                            rows="5">{{existing_education}}</textarea>
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Experiencia
                                                                            Laboral</label>
                                                                        <textarea name="work_experience"
                                                                            style="resize: none; width: 100%"
                                                                            class="form-control"
                                                                            rows="5">{{existing_work_experience}}</textarea>
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Habilidades</label>
                                                                        <input name="skills" type="text"
                                                                            class="form-control"
                                                                            placeholder="Ej. Programación, liderazgo"
                                                                            value="{{existing_skills}}">
                                                                    </div>
                                                                    <div class="input-block mb-4">
                                                                        <label
                                                                            class="form-control-label">Idiomas</label>
                                                                        <input name="languages" type="text"
                                                                            class="form-control"
                                                                            placeholder="Ej. Español, Inglés"
                                                                            value="{{existing_languages}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        <!-- Botones del Modal -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancelar</button>
                                                            <button type="submit"
                                                                class="btn btn-primary">Guardar Cambios</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                            </div>
                        </div>
                    </div>
                    {{/posts_e}}

                    {{^posts_e}}
                    <p>No hay posts creados.</p>
                    {{/posts_e}}
                </div>

            </div>
        </section>



        <!-- Leading Companies -->
        <section class="section lead-companies">
            <div class="container">
                <div class="section-header aos" data-aos="fade-up">
                    <div class="section-sub-head feature-head text-center">
                        <span>Con la confianza de</span>
                        <h2>Universidades y empresas líderes</h2>
                    </div>
                </div>
                <div class="lead-group aos" data-aos="fade-up">
                    <div class="lead-group-slider owl-carousel owl-theme">
                        <div class="item">
                            <div class="lead-img">
                                <img class="img-fluid" alt="" src="../assets/img/lead-01.png" style="margin: 10px;">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lead-img">
                                <img class="img-fluid" alt="" src="../assets/img/lead-02.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lead-img">
                                <img class="img-fluid" alt="" src="../assets/img/lead-03.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lead-img">
                                <img class="img-fluid" alt="" src="../assets/img/lead-04.png" style="margin: 20px;">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lead-img">
                                <img class="img-fluid" alt="" src="../assets/img/lead-05.png">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lead-img">
                                <img class="img-fluid" alt="" src="../assets/img/lead-06.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Leading Companies -->


        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top aos" data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="../assets/img/prodixLogo.png" alt="logo">
                                </div>
                                <div class="">
                                    <p>
                                        Descubre las mejores ofertas tanto para empresas como para estudiantes.
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-2 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Enlace útiles</h2>
                                <ul>
                                    <li><a href="/faq/{{id}}">Preguntas frecuentes</a></li>

                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-4 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contacto</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <img src="../assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                        <p> C. Tulipán, s/n, Móstoles<br> Madrid, 28933</p>
                                    </div>
                                    <p>
                                        <img src="../assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                        <a href="mailto:prodix@gmail.com">prodix@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2024 DAW G1. Todos los derechos reservados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!-- counterup JS -->
    <script src="../assets/js/jquery.waypoints.js"></script>
    <script src="../assets/js/jquery.counterup.min.js"></script>

    <!-- Select2 JS -->
    <script src="../assets/plugins/select2/js/select2.min.js"></script>

    <!-- Owl Carousel -->
    <script src="../assets/js/owl.carousel.min.js"></script>

    <!-- Slick Slider -->
    <script src="../assets/plugins/slick/slick.js"></script>

    <!-- Aos -->
    <script src="../assets/plugins/aos/aos.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/script.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="../assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="../assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

</body>

</html>