<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Mi Perfil-Prodix</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="../assets/img/prodixIcon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="../assets/plugins/feather/feather.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="../assets/css/style.css">
	
	</head>
	<body>
		{{#user}}

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<div class="row">
			
				<!-- Login Banner -->
				<div class="col-md-6 login-bg">
					<div class="owl-carousel login-slide owl-theme">
						<div class="welcome-login">
							<div class="login-banner">
								<img src="{{foto}}" class="img-fluid" alt="Logo">
							</div>
							<div class="mentor-course text-center">
								<h2>Bienvenido/a a tu perfil de <br>Prodix.</h2>
								<p>Aquí encontrarás todos los datos de tu usuario.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /Login Banner -->
				
				<div class="col-md-6 login-wrap-bg">		
				
					<!-- Login -->
					<div class="login-wrapper">
						<div class="loginbox">
							<div class="img-logo">
								<img src="../assets/img/prodixLogo.png" class="img-fluid" alt="Logo">
				
							</div>
							<h1>Perfil de {{name}}</h1>
							<div class="reset-password">
								<p></p>
								<p>Nombre completo : {{name}}.</p>
								<p>Email de contacto : {{email}}.</p>
								<p>Contraseña : {{password}}.</p>
								<p>Fecha de nacimiento : {{nacimiento}}.</p>
								<p>Ubicación : {{ubicación}}.</p>
								<p>Estudios : {{estudios}}.</p>
								<p>Trabajos previos : {{trabajos}}.</p>

							</div>

				
							<button type="button" class="btn btn-primary" >
							<a href="/{{user.id}} " class="white-text" >Volver al inicio</a>
						</button>
						
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editProfileModal" id="editProfileButton">
	Editar Perfil
  </button>
  <!-- Modal para editar perfil -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 1200px;">
	  <!-- Ancho más amplio -->
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <form role="form" action="/update-profile/{{id}}" method="post" class="w-100">
			<div class="input-block mb-4">
			  <label class="form-control-label">Nombre completo</label>
			  <input type="text" class="form-control" placeholder="Introduce tu nombre completo" id="editName" name="name" required minlength="3" maxlength="20" value="{{name}}">
			</div>
			<input type="hidden" name="email" value="{{email}}">
			<input type="hidden" name="password" value="{{password}}">
			<div class="input-block mb-4">
			  <label class="form-control-label">Foto de contacto</label>
			  <input type="url" class="form-control" placeholder="Introduce tu foto de contacto" id="editFoto" name="foto" required pattern="https://.*" value="{{foto}}">
			</div>
			<div class="input-block mb-4">
			  <label class="form-control-label">Ubicación</label>
			  <input type="text" class="form-control" placeholder="Introduce tu lugar de hospedaje" id="editUbicacion" name="ubicación" required minlength="3" maxlength="20" value="{{ubicación}}">
			</div>
			<div class="input-block mb-4">
			  <label class="form-control-label">Fecha de nacimiento</label>
			  <input type="date" class="form-control" placeholder="Introduce tu fecha de nacimiento" id="editNacimiento" name="nacimiento" required min="1920-01-01" max="2024-01-01" value="{{nacimiento}}">
			</div>
			<div class="input-block mb-4">
			  <label class="form-control-label">Estudios</label>
			  <input type="text" class="form-control" placeholder="Introduce tu historial de estudios" id="editEstudios" name="estudios" required minlength="2" maxlength="20" value="{{estudios}}">
			</div>
			<div class="input-block mb-4">
			  <label class="form-control-label">Trabajos previos</label>
			  <input type="text" class="form-control" placeholder="Introduce tu historial de trabajos" id="editTrabajos" name="trabajos" required minlength="2" maxlength="150" value="{{trabajos}}">
			</div>
			<input type="hidden" name="userType" value="{{userType}}">
			<button class="btn btn-primary btn-start btn-sm" type="submit" value="Save">Guardar Cambios</button>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  
  
						<button type="button" class="btn btn-primary" >
							<a href="/delete/{{user.id}} " class="white-text" >Eliminar cuenta</a>
						</button>
				
						
						</div>
					</div>
					
					
				</div>
				
			</div>
		   
	   </div> 

    {{/user}}

	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="../assets/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="../assets/js/bootstrap.bundle.min.js"></script>

		<!-- Owl Carousel -->
		<script src="../assets/js/owl.carousel.min.js"></script>	
		
		<!-- Custom JS -->
		<script src="../assets/js/script.js"></script>
		
	</body>
</html>